<!DOCTYPE html>
<html ng-app='todoapp'>
<head>
    <title>Nice ToDo List</title>

    <!-- Angular library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>

    <!-- Bootstrap and CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="angular_todo.css">

    <!-- Firebase and app JS file-->
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
    <script type="text/javascript" src="angular_todo.js"></script>

</head>

<!-- How Nice Todo List will behave is governed by TodoCtrl -->
<body ng-controller="TodoCtrl">
    <div class='container'>

        <!-- Title -->
        <h4 class='list-group-item title'>Angular Todos</h4>

        <!-- The list -->
        <div class="list-group-item" ng-repeat = "todo in todos">
            <!-- ng-model binds the view into the model (to a property on $scope-->
            <input type="checkbox" ng-model="todo.done"/>
            <input class="todo" type="text" ng-model="todo.text"/>

            <!-- The icons -->
            <div class="after-text">
                <!-- event handling -->
                <a href="" ng-click="move($index, 'up')"><span class="glyphicon glyphicon-arrow-up"></span></a>
                <a href="" ng-click="move($index, 'down')"><span class="glyphicon glyphicon-arrow-down"></span></a>
                <a href="" ng-click="removeTodo($index)"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
        </div>

        <!-- Preview box; doesn't show when text is absent -->
        <div class="list-group-item" ng-show='todoText'>
            <input type="checkbox" disabled="true">
            <input type="text" disabled="true" class="todo" placeholder="{{todoText}}">
        </div>

        <!-- Box to type in new list item -->
        <form class="list-group-item" ng-submit="addTodo()" >
            <input type="text" ng-model="todoText"/>
            <input type="submit" />
        </form>
    </div>

</body>
</html>